*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @media screen and (max-width:800px) {
    .navbar-expand-lg .navbar-collapse {

    }
} */

.ft ,.ft:visited{
    font-size: 40px;
    margin-left: 60px;
    letter-spacing: 2px; 
    color: aliceblue;
}
button.navbar-toggler:focus{
    /* outline-style:none; */
    box-shadow: none;

}

i{
    font-size: 50px;
    color: azure;
    
}

.navback{
    background-color: rgb(133, 130, 130);
    font-size: xx-large;
   
}

.lik a{
    padding: 2px;
    color: white;
    position: relative;
    text-decoration: none;
    margin-left:10px;
    
}
.lik a:visited{
    color: aliceblue;
}
.lik a:hover::after {
    width: 100%; 
    transform: scaleX(1); 
} 
.lik a:hover{
    color: aliceblue;
    text-decoration: none; 
  
}
.lik a::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 0%;
    left: 0px;
    transform: scaleX(0); 
    background-color: rgb(138, 185, 28);
    bottom: -3px;
    transition:transform 0.7s ease-in-out;
}


/* .p{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.p p{
position: relative;
}
.p p::after{
    content: "";
    width: 100%;
    left: 0;
    height: 2px;
    background-color: black;
    position: absolute;
} */